* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: auto;

}

.header {
    height: 70px;
    width: 1200px;
    background: black;
    display: flex;
    line-height: 70px;
    position: fixed;
    z-index: 10000;
    border-bottom: 1px solid red;
}

.logo {
    text-transform: uppercase;
    color: white;
    width: 40%;
    text-align: center;
    font-size: 30px;

}

.logo span {
    color: red;


}

.top__menu ul {
    display: flex;
    justify-content: space-around;
    width: 67%;
    margin: auto;

}

.top__menu {
    width: 60%;
}

.top__menu a {
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.5s;
}

.top__menu a:hover {
    color: red;
}

.banner {
    background-image: url(../img/main-bg.jpeg);
    height: 751px;
    background-size: 100% 98%;
    background-position: bottom;
    position: relative;
}

.banner__info {
    height: 150px;
    width: 90%;
    background-color: rgba(161, 60, 60, .2);
    margin: auto;
    position: absolute;
    right: 0;
    left: 0;
    top: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}

.banner__info>div {
    margin: 10px 0px;
}

.banner__title {
    font-size: 25px;
    color: white;
    font-weight: 700;
}

.banner__subtitle {
    font-size: 22px;
    color: white;
    font-weight: 500;
}

.banner__text {
    font-size: 18px;
    color: rgba(142, 40, 115, .3);
    font-weight: 300;
}

.banner__btn {
    background-color: rgb(132, 6, 6);
    position: absolute;
    top: 291px;
    left: 120px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background: rgb(226, 22, 3);
    background: linear-gradient(90deg, rgba(226, 22, 3, 1) 40%, rgba(252, 69, 103, 0.46262254901960786) 100%);
    transition: 1s;

}

.banner__btn:hover {
    background-color: red;

}

.banner__btn a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500px;
}

.article {
    background-color: rgba(95, 93, 93, .3);
    height: 700px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.article__item:nth-child(2) {
    background: none;

}

.article__item:nth-child(2) .article__img {
    background-image: url(../img/articl2.jpg);
    background-position: center;
    background-size: 101%;
}

.article__item:nth-child(3) .article__img {
    background-image: url(../img/gitara.jpg);
    background-position: center;
    background-size: 101%;
}

.article__item {
    height: 600px;
    width: 30%;
    background-color: gray;
    padding: 10px 20px;
    position: relative;


}

.article__img {
    background-image: url(../img/article1.jpg);
    height: 320px;
    background-position: center;
    background-size: 85%;
    text-align: right;
    color: rgb(177, 111, 111);



}

.article__title {
    margin: 10px 0;
    font-weight: 600;
    letter-spacing: 2px;
}

.article__btn {
    position: absolute;
    bottom: 10px;
    left: 20px;
    text-decoration: none;
    padding: 5px 10px;
    background: rgb(226, 22, 3);
    background: linear-gradient(90deg, rgba(226, 22, 3, 1) 40%, rgba(252, 69, 103, 0.46262254901960786) 100%);
    transition: 1s;

}

.article__btn:hover {
    background-color: red;

}

.article__btn a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.article__text {
    text-align: justify;
}

.fa-solid {
    margin-top: 10px;
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.fa-solid:hover .article__popup {
    /* display:block;  */
    opacity: 1;
}

.article__popup {
    position: absolute;
    top: 30px;
    left: -80px;
    height: 50px;
    width: 100px;
    background-color: rgb(177, 111, 111);
    /* display: none; */
    opacity: 0;
    transition: 5s;
    text-align: center;
    border-radius: 10%;
}

.article__popup>span {
    font-size: 10px;
    color: black;
    line-height: 50px;
    text-transform: lowercase;

}

.popup__item {
    height: 0px;
    width: 0px;
    border-left: 20px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(177, 111, 111);
    position: absolute;
    margin: auto;
    left: 65px;
    right: 0px;
    top: -18px;
    bottom: 0x;
    border-radius: 10%;
}

.footer {
    height: 70px;
    width: 1200px;
    background: black;
    display: flex;
    line-height: 70px;
    border-top: 1px solid red;
}

.footer__logo {
    text-transform: uppercase;
    color: white;
    width: 40%;
    text-align: center;
    font-size: 30px;
}

.footer__logo span {
    color: red;
}

.footer__icons {
    width: 60%;
    text-align: right;
    padding-right: 30px;
}

.footer__icons .fa-brands {
    font-size: 20px;
    color: white;
    margin: 0 10px;

}


@media all and (max-width: 460px) {

    body {
        overflow-x: hidden;
    }


    .container {
        width: 100%;
    }

    .header {
        width: 100%;
        position: relative;
        justify-content: space-between;
    }
    .header .top__menu{
        line-height: 35px;
    }


    .top__menu {
        position: absolute;
        width: 28%;
         padding: 0 25px 10px 0;
        right: 0;
        top: 70px;
        opacity: 0;
        transition: 10s;
        background-color: rgba(161, 60, 60, .5);
    }
    .top__menu ul li{
        border-bottom: 1px solid red; 
        list-style: none;
    }

    .mobile__menu:hover+.top__menu {
       
        opacity: 1;
        transition: 2s;
    }

    .logo {
        width: 80%;
    display: flex;
    justify-content: center;
    }

    .mobile__menu .fa-bars {
        text-align: right;
        font-size: 30px;
        padding: 10px 20px;
        color: white;

    }

    .top__menu ul {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        width: 67%;
        margin: auto;
    }

    .banner__info {
        height: 185px;
        top: 170px;
        padding: 10px;
        background-color: rgba(161, 60, 60, .5);
    }

}

.banner__btn{
    right: 0;
    bottom: -562px;
    left: 0;
    margin: auto;
    width: 143px;
    height: 45px;
    top: 0;
}

.banner {
    height: 720px;
    background-size: 280% 100%;
}

.footer {
    width: 100%;
}
.footer__logo{
    width: 80%;
    display: flex;
    justify-content: center;
}

.article__item {
    margin: 20px 0;
    width: 100%;


}

.article {
    flex-direction: column;
    height: auto;

}
.footer__icons {
    text-align: right;
    padding-right: 13px;
    position: absolute;
    right: 0;
}


@media all and (min-width: 462px) {
    .mobile__menu {
        display: none;
    }

    .article {
        flex-direction: row;
        height: 700px;
    
    }
    .banner{
        height: 751px;
     
    background-size: 100% 98%;

    }
    
.header{
    top: 0;

}
.banner__btn{
    left: 0;
    right: 850px;
    margin: auto;
    top: 0;
    bottom: 0;  
}
.footer{
    width: 100%;
    position: relative;
}
.footer__logo {
    width: 40%;
    display: flex;
    justify-content: center;
}
    
}